body{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.gradient {
	background-image: repeating-linear-gradient(90deg, #ffffff, #ffffff 30px, #CCFFFF 30px, #CCFFFF 60px);
}
	
header {
	background-image: url("image.JPG");
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: white;
	background-size: contain;
	background-position: center;
}
.h1{
	border-bottom:2px dotted white;
	display:flex;
	justify-content: space-around ;
}

.h1menu {
		list-style: none;
		display: flex;
		justify-content: space-around;
	}
.h1list {
	display: inline-block;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	text-decoration: none;
	list-style: none;
	color:white;
}

.h2menu {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}


.logo {
	color: green;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 20px;
    margin-left:50px;
}
nav{
	display:flex;
	justify-content:space-between;
	padding:30px 40px;
}

.nav-menu{
	list-style:none;
	color:white;
}

.nav-menu li{
	font-size : 20px;
	display:inline-block;
}

	.nav-menu li a {
		text-decoration: none;
		color: white;
		padding-left:10px;
		padding-right:10px;
	}
.header-title-1 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 35px;
	margin-top:140px;
	margin-bottom:5px;
}
.header-title-2 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:35px;
	
}

.header-cta-button {
	color: #99CCCC;
	background-color: white;
	padding: 10px 10px;
	border-radius: 8px;
	text-decoration: none;
	margin: 0px;
	font-size: 25px;
	margin-bottom: 100px;
}
.clearfix {
	border: 1px solid #4CAF50;
	box-sizing:border-box;
	margin-top:100px;
	margin-left:150px;
	overflow: auto;
	margin-right:50px;
	background-color:white;
}


.img1 {
	height:310px;
}

.header2 {
	margin-top: 20px;
	margin-left:30px;
	color: #009966;
}
.menu2 {
	list-style: none;
	display: flex;
	justify-content:space-between;
	padding-left:30px;
	padding-right:50px;
}

.header-text1{
	font-size:20px;
}

.more1 {
	background-color: #009966;
	width: 150px;
	height: 30px;
	padding: 10px;
	border: 5px none;
	margin: 20px;
	margin-top: initial;
	text-align: center;
	color: white;
	text-size-adjust: 25%;
	float: left;
	margin-bottom: 20px;
	margin-right: 100px;
	display: inline-block;
}

.clearfix1 {
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	margin-top: 100px;
	margin-left: 150px;
	overflow: auto;
	margin-right: 50px;
	margin-bottom:1000px;
	background-color:white;
}




.opening-row {
	display: flex;
	justify-content:space-between;
	background-color: #009966;
}
footer{
	
	text-align:center;
	background-color:black;
	color:white;
}

.footer-row{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
}

.footer-col{
	margin:20px;

}

.footer-title{
	color:green;
}

.footer-email{
	padding:10px 15px;
}

.footer-subscribe {
	display: inline-block;
	text-decoration: none;
	background-color: green;
	color: white;
	padding: 10px 15px;
	margin-top:10px;
}


